<footer class="pt-4 pb-4 text-center bg-cover-footer">
  <div class="container">
    <div class="my-3">
      <div class="h4">{{info.name}}</div>
      <p>{{info.spacialization}}</p>
      <div class="social-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            {% if social %}
            {% for acc in social %}
            {% if acc.account == 'fb' %}
            <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="Facebook"><i
                  class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a></li>
            {% endif %}
            {% if acc.account == 'ig' %}
            <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="Instagram"><i
                  class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a></li>
            {% endif %}
            {% if acc.account == 'in' %}
            <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="LinkedIn"><i
                  class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
            {% endif %}
            {% if acc.account == 'tw' %}
            <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="Twitter"><i
                  class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="text-small text-secondary">
      <div class="mb-1">{{info.name}}. All rights reserved.</div>
      <div>
      </div>
    </div>
</footer>