{% extends "base.html" %}
{% load static %}

{% block title %} Resume {% endblock title %}

{% block content %}
{% include "partials/header.html" %}
<div class="page-content">
  <div id="content">
    <header>
      <div class="cover bg-cover">
        <div class="container px-3">
          <div class="row">
            <div class="col-lg-6 p-2"><img class="img-fluid" src="{% static 'images/illustrations/undraw_coding_re_iv62 (3).svg' %}"
                alt="hello" /></div>
            <div class="col-lg-6">
              <div class="mt-5">
                <p class="lead text-uppercase mb-1">Hello!</p>
                <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">My name is {{info.name}}</h1>
                <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">{{info.spacialization}}</p>
                <div class="social-nav" data-aos="fade-up" data-aos-delay="200">
                  <nav role="navigation">
                    <ul class="nav justify-content-left">
                      {% if social %}
                      {% for acc in social %}
                      {% if acc.account == 'fb' %}
                      <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="Facebook"><i
                            class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a></li>
                      {% endif %}
                      {% if acc.account == 'ig' %}
                      <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="Instagram"><i
                            class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a></li>
                      {% endif %}
                      {% if acc.account == 'in' %}
                      <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="LinkedIn"><i
                            class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
                      {% endif %}
                      {% if acc.account == 'tw' %}
                      <li class="nav-item"><a class="nav-link" href="{{acc.profile_link}}" title="Twitter"><i
                            class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                <div class="mt-3" data-aos="fade-up" data-aos-delay="200">
                  <a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#contact">Get In Touch <i
                      class="fas fa-arrow-right"></i></a>
                  {% if info.resume %}
                  <a class="btn btn-primary shadow-sm mt-1 hover-effect ml-3" href="#"
                    onclick="window.open('{{info.resume.url}}')">My CV<i class="fas fa-arrow-right"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wave-bg-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0099ff" fill-opacity="1" d="M0,160L40,138.7C80,117,160,75,240,80C320,85,400,139,480,181.3C560,224,640,256,720,245.3C800,235,880,181,960,160C1040,139,1120,149,1200,165.3C1280,181,1360,203,1400,213.3L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
        </svg>
      </div>
    </header>
    <div class="section pt-4 px-3 px-lg-4" id="about">
      <div class="container-narrow">
        <div class="row">
          <div class="col-md-6">
            <h2 class="h4 my-2">Hello! I’m {{info.name}}</h2>
            <p> {{info.brief}}</p>
            <div class="row mt-3">
              <div class="col-sm-2">
                <div class="pb-1">Age: </div>
              </div>
              <div class="col-sm-10">
                <div class="pb-1 fw-bolder">{{age}}</div>
              </div>
              <div class="col-sm-2">
                <div class="pb-1">Email:</div>
              </div>
              <div class="col-sm-10">
                <div class="pb-1 fw-bolder">{{info.email}}</div>
              </div>
              <div class="col-sm-2">
                <div class="pb-1">Staus:</div>
              </div>
              <div class="col-sm-10">
                <div class="pb-1 fw-bolder">{{info.status}}</div>
              </div>
            </div>
          </div>
          {% if info.profile_photo %}
          <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100"><img class="avatar img-fluid mt-2"
              src="{{info.profile_photo.url}}" width="400" height="400" alt="Waseem" /></div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="section px-3 px-lg-4 pt-5" id="services">
      <div class="container-narrow">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">My Services</h2>
        </div>
        <div class="text-center">
          <p class="mx-auto mb-3" style="max-width:600px"> I offer services fit for any website or app. I can quickly
            maximize timely deliverables for real-time schemas.</p>
        </div>
        <div class="row py-3">
          {% for service in services %}
          <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">
            <img class="mb-2" src="{{ service.logo.url }}" width="96" height="96" alt="web design" />
            <div class="h5">{{service.name}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="section px-3 px-lg-4 pt-5" id="skills">
      <div class="container-narrow">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">My Skills</h2>
        </div>
        <div class="text-center">
          <p class="mx-auto mb-3" style="max-width:600px">I am a quick learner and specialize in multitude of skills
            required for Web Application Development and Product Design</p>
        </div>
        <div class="bg-cover p-3">
          <div class="row">

            {% for skill in skills %}
            <div class="col-md-5">
              <div class="py-1">
                <div class="d-flex text-small fw-bolder"><span
                    class="me-auto">{{ skill.name }}</span><span>{{skill.progress}}%</span></div>
                <div class="progress my-1">
                  <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100"
                    data-aos-anchor=".skills-section" style="width: {{skill.progress}}%"
                    aria-valuenow="{{skill.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="section px-2 px-lg-4 pt-5" id="portfolio">
      <div class="container">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">Portfolio </h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
          <div class="grid-sizer"></div>
          {% for p in portfolio %}
          <div class="grid-item"><a href="{{p.link}}">
              <figure class="portfolio-item">
                <img src="{{p.image.url}}" />
                <figcaption>
                  <h4 class="h5 mb-0">{{p.desc}}</h4>
                </figcaption>
              </figure>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="section px-3 px-lg-4 pt-5" id="experience">
      <div class="container-narrow">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">Experience</h2>
        </div>
        <div class="row">
          {% for experiance in experiances %}
          <div class="col-md-6">
            <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
              <div class="card-header px-3 py-2">
                <div class="d-flex justify-content-between">
                  <div>
                    <h3 class="h5 mb-1">{{experiance.title}}</h3>
                    <div class="text-muted text-small">{{experiance.location}}</small></div>
                  </div><img src="{{experiance.image.url}}" width="48" height="48" alt="ui-ux" />
                </div>
              </div>
              <div class="card-body px-3 py-2">
                <p> {{experiance.brief}} </p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    {% comment %} <div class="section px-3 px-lg-4 pt-5" id="testimonials">
      <div class="container-narrow">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">Client Testimonials</h2>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5" data-aos="fade-right" data-aos-delay="100">
            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter
                displays exemplary professionalism and is able to take on challenges. He learns quickly and is an asset
                to any team.</span></div>
            <div class="d-flex justify-content-end align-items-end">
              <div class="text-end me-2">
                <div class="fw-bolder">Aiyana</div>
                <div class="text-small">CEO / Web Design Company</div>
              </div><img class="me-md-3 rounded" src="images/testimonials/client1.jpg" width="96" height="96"
                alt="client 1" />
            </div>
          </div>
          <div class="col-md-6 mb-5" data-aos="fade-left" data-aos-delay="300">
            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter
                displays exemplary professionalism and is able to take on challenges. He learns quickly and is an asset
                to any team.</span></div>
            <div class="d-flex justify-content-end align-items-end">
              <div class="text-end me-2">
                <div class="fw-bolder">Alexander</div>
                <div class="text-small">CEO / Web Design Company</div>
              </div><img class="me-md-3 rounded" src="images/testimonials/client2.jpg" width="96" height="96"
                alt="client 1" />
            </div>
          </div>
          <div class="col-md-6 mb-5" data-aos="fade-right" data-aos-delay="200">
            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter is
                a great co-worker and problem solver. He is quick to extend his helping hand and makes a good team
                player.</span></div>
            <div class="d-flex justify-content-end align-items-end">
              <div class="text-end me-2">
                <div class="fw-bolder">Ariya</div>
                <div class="text-small">Web Developer</div>
              </div><img class="me-md-3 rounded" src="images/testimonials/client3.jpg" width="96" height="96"
                alt="client 1" />
            </div>
          </div>
          <div class="col-md-6 mb-5" data-aos="fade-left" data-aos-delay="400">
            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter is
                a great co-worker and problem solver. He is quick to extend his helping hand and makes a good team
                player.</span></div>
            <div class="d-flex justify-content-end align-items-end">
              <div class="text-end me-2">
                <div class="fw-bolder">Braiden</div>
                <div class="text-small">Web Designer</div>
              </div><img class="me-md-3 rounded" src="images/testimonials/client4.jpg" width="96" height="96"
                alt="client 1" />
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
    <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
      <div class="container-narrow">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">Contact Me</h2>
        </div>
        <div class="row">
          <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="bg-cover-form my-2 p-3 pt-2">
              <form action="{% url 'resume:contact' %}" method="POST">
                {% csrf_token %}
                <div class="form-group my-2">
                  <label for="name" class="form-label fw-bolder">Name</label>
                  <input class="form-control" type="text" id="name" name="sender" required>
                </div>
                <div class="form-group my-2">
                  <label for="email" class="form-label fw-bolder">Email</label>
                  <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="form-group my-2">
                  <label for="message" class="form-label fw-bolder">Message</label>
                  <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"
                    required></textarea>
                </div>
                <button class="btn btn-primary mt-2" type="submit">Send</button>
              </form>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
            <div class="mt-3 px-1">
              <div class="h5">Let’s talk how I can help you!</div>
              <p>If you like my work and want to avail my services then drop me a message using the contact form. </p>
              <p>Or get in touch using my email, skype or my contact number.</p>
              <p>See you!</p>
            </div>
            <div class="mt-53 px-1">
              <div class="row">
                <div class="col-sm-2">
                  <div class="pb-1">Email:</div>
                </div>
                <div class="col-sm-10">
                  <div class="pb-1 fw-bolder">{{info.email}}</div>
                </div>

                <div class="col-sm-2">
                  <div class="pb-1">Phone:</div>
                </div>
                <div class="col-sm-10">
                  <div class="pb-1 fw-bolder">{{info.phone}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
</div>

{% endblock content %}