:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --bg-color-2: #EEEEEE;
  --heading-color: #292922;
  --bg-form: #f4f6f8;
}
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #222831;
  --bg-color-2: #393E46;
  --heading-color: #818cab;
  --bg-form: #393E46;
}
html, body {
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

/**
 * Enable smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/**
 * Add .section to every anchored element for scroll margin
 */
.section {
  scroll-margin-top: 2rem;
}

/* Header */
.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-decoration: none;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }
}
.bg-cover,
.card,
.card-header {
  background-color: var(--bg-color-2);
  color: var(--font-color);
}
.card {
  border: 2px solid var(--bg-color-2);
}
.card-header {
  border-bottom: 2px solid var(--bg-color);
}
.nav-link {
  font-weight: 700;
  color: var(--font-color) !important;
}

.navbar-light .navbar-brand {
  color: var(--font-color);
}

#header-nav.fixed-top {
  background: var(--bg-color) !important;
}

.wave-bg-1 svg path {
  fill: var(--bg-color-2) !important;
}

.social-nav .nav-link {
  padding: 0 0.5rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* Hero (intro) section */
.intro-title {
  font-weight: 800;
}

@-webkit-keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wave-bg {
  display: block;
  height: 220px;
  width: 100%;
  min-width: 600px;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url("../images/wave-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
}

img.avatar {
  border-radius: 30px;
}

/* Masonary grid for portfolio */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Grid Item */
.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  padding-bottom: 12px;
}

@media (min-width: 48em) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
  .grid-item {
    float: left;
    padding: 6px;
  }
}

.grid-item img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Portfolio */
.portolio-section .container {
  padding: 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.portfolio-item figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.75);
  transition: transform 0.35s;
  transform: translate3d(0, 100%, 0);
}

.portfolio-item figcaption h4 {
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}

.portfolio-item figcaption p {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.portfolio-item:hover figcaption {
  transform: translate3d(0, 0, 0);
}

/* Portolio Caption */
#bp_container .bp-xc {
  background: #F6E05E !important;
}

#bp_caption a {
  text-decoration: none;
}
a {
  color: var(--primary-color);
}

/* Footer section */
footer a:not(.nav-link) {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* Scroll Top */
#scrolltop {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  padding: 3px 11px;
  border-radius: 50%;
}

/* Additional utility styles */
.container-narrow {
  max-width: 1024px;
  margin: 0 auto;
}

.text-small {
  font-size: 0.875rem;
}

.text-uppercase {
  letter-spacing: 0.05em;
}

.hover-effect {
  transition: transform .18s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-2px);
}

.marker {
  position: relative;
  display: inline;
  width: auto;
}

.marker-center {
  padding-right: 0;
}

.marker:after {
  content: "";
  width: 125px;
  height: 30px;
  position: absolute;
  bottom: -25px;
  right: -30px;
  background-image: url("../images/marker.svg");
  background-repeat: no-repeat;
}

.marker-center:after {
  bottom: -30px;
  left: 50%;
  margin-left: -60px;
}

@media (max-width: 575.98px) {
  .marker {
    padding-right: 0;
  }
  .marker:after {
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
  }
}

.entry-title a {
  text-decoration: none;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: #a4a2a4;
}

.fa-sun {
  color: yellow;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input {
  display:none;
}
.theme-switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.theme-switch .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.theme-switch input:checked + .theme-switch .slider {
  background-color: #66bb6a;
}

.theme-switch input:checked + .theme-switch .slider:before {
  transform: translateX(26px);
}
.theme-switch .slider.round {
  border-radius: 34px;
}

.theme-switch .slider.round:before {
  border-radius: 50%;
}

.btn-primary {
  color: #eee;
  background-color: #0D63A5;
  border-color: #0D63A5;
}
.btn-primary:hover {
  color: #eee;
  background-color: #083358;
  border-color: #083358;
}
.bg-primary {
  background-color: #0D63A5!important;
}

.form-control {
  color: var(--font-color) !important;
  background-color: var(--bg-color) !important;
  border: 2px solid var(--bg-color-2) !important;
}

.form-control:focus {
  color: var(--font-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 0 0.25rem rgb(13 99 165 / 20%);
}
.bg-cover-form {
  background-color: var(--bg-form);
}
.bg-cover-footer {
  background-color: var(--bg-color-2);
  color: var(--font-color);
}
.text-secondary {
  color: var(--font-color) !important;
}
[data-theme="dark"] .navbar-light .navbar-brand:focus, 
[data-theme="dark"] .navbar-light .navbar-brand:hover,
[data-theme="dark"] .navbar-light .navbar-nav .nav-link:focus, 
[data-theme="dark"] .navbar-light .navbar-nav .nav-link:hover {
  color: #f3f3f3 !important;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #393e46 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  border: 1px solid transparent;
}
