{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h1>Blogs</h1>

    {% for article in object_list %}
    <div>
        <a href="{% url 'blog:blog_details' article.slug %}">{{article.title}}</a>
        {% empty %}
    </div>
    <h1>No articles yet.</h1>
    {% endfor %}

    <a href="{% url 'resume:home' %}">Go home</a>
</div>
{% endblock content %}