{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h1>Details</h1>

    <div>
        <p>{{obj.title}}</p>
        <div class="content">
            {{obj.content|safe}}
        </div>
    </div>
</div>
{% endblock content %}