{% load static %}

<html>
    <head>
        <title>Waseem - {% block title %} {% endblock title %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

        {% block extra_css %} {% endblock extra_css %}
    </head>
    <body id="top">
        {% block content %} {% endblock content %}

        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"  %}></script>
        <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'js/BigPicture.min.js' %}"></script>
        <script src="{% static 'js/purecounter.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/aos.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>    
        <script src="{% static 'js/custom.js' %}"></script>
        {% block extra_js %} {% endblock extra_js %}
    </body>
</html>